/* ================================ */
/* Custom google font integration */
/* ================================ */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

/* ================================ */
/* General CSS                      */
/* ================================ */
:root {
  --base-color: rgb(255, 161, 0);
}

[data-bg="light-gray"] {
  background: #f3f6f8;
  color: #232323;
}
[data-bg="gray"] {
  background: #d8dde6;
  color: #232323;
}
[data-bg="black"] {
  background: #000;
  color: #fff;
}
[data-bg="navy-blue"] {
  background: #001443;
  color: #fff;
}
[data-bg="dark-blue"] {
  background: rgb(6, 34, 65);
  color: #fff;
}
[data-bg="light-blue"] {
  background: #f3fafd;
  color: #232323;
}
[data-bg="brown-black"] {
  background: #444;
  color: #fff;
}
[data-bg="white"] {
  background: #fff;
  color: #232323;
}
/* Data padding */

[data-padding="5015"] {
  padding: 50px 15px;
}
[data-padding="50150"] {
  padding: 50px 15px 0;
}
[data-padding="1515"] {
  padding: 15px 15px;
}
[data-padding="2515"] {
  padding: 25px 15px;
}
[data-padding="2500"] {
  padding: 25px 0;
}
[data-padding="10015"] {
  padding: 100px 15px;
}
[data-padding="15015"] {
  padding: 150px 15px;
}
[data-padding="0"] {
  padding: 0;
}

/* data-overlaycolors */
[data-overlaycolor="blue-overlay"],
[data-overlaycolor="blue-overlay"]:after {
  background: rgba(33, 84, 207);
  color: #fff;
  border-color: #fff;
}
[data-overlaycolor="black-overlay"],
[data-overlaycolor="black-overlay"]:after {
  background: rgba(0, 0, 0);
  color: #fff;
  border-color: #fff;
}
[data-overlaycolor="red-overlay"],
[data-overlaycolor="red-overlay"]:after {
  background: rgba(234, 43, 96);
  color: #fff;
  border-color: #fff;
}
[data-overlaycolor="orange-overlay"],
[data-overlaycolor="orange-overlay"]:after {
  background: rgba(234, 109, 43);
  color: #fff;
  border-color: #fff;
}
[data-overlaycolor="green-overlay"],
[data-overlaycolor="green-overlay"]:after {
  background: rgba(32, 153, 2);
  color: #fff;
  border-color: #fff;
}
[data-overlaycolor="yellow-overlay"],
[data-overlaycolor="yellow-overlay"]:after {
  background: rgba(254, 193, 2);
  color: #000;
  border-color: #000;
}
[data-overlaycolor="cyan-overlay"],
[data-overlaycolor="cyan-overlay"]:after {
  background: rgba(2, 228, 254);
  color: #000;
  border-color: #000;
}
[data-overlaycolor="magenta-overlay"],
[data-overlaycolor="magenta-overlay"]:after {
  background: rgba(66, 4, 155);
  color: #fff;
  border-color: #fff;
}

/* data-overlay opacity */

[data-overlayopacity="opacity-1"]:after {
  opacity: 0.1;
}
[data-overlayopacity="opacity-2"]:after {
  opacity: 0.2;
}
[data-overlayopacity="opacity-3"]:after {
  opacity: 0.3;
}
[data-overlayopacity="opacity-4"]:after {
  opacity: 0.4;
}
[data-overlayopacity="opacity-5"]:after {
  opacity: 0.5;
}
[data-overlayopacity="opacity-6"]:after {
  opacity: 0.6;
}
[data-overlayopacity="opacity-7"]:after {
  opacity: 0.7;
}
[data-overlayopacity="opacity-8"]:after {
  opacity: 0.8;
}
[data-overlayopacity="opacity-9"]:after {
  opacity: 0.9;
}
[data-overlayopacity="opacity-10"]:after {
  opacity: 1;
}

/* Data Position CSS */

[data-position="right"] {
  float: right;
}
[data-position="left"] {
  float: left;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.red-text {
  color: #e22a31;
}
.blue-text {
  color: #0c65ed;
}

html {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #fcfcfc !important;
}
body,
button,
input,
select,
textarea {
  font-family: "Montserrat", sans-serif !important;
}
a:link,
a:visited,
a:active,
a:focus,
a::before,
a::after {
  outline: 0 none;
  text-decoration: none;
}
a,
button,
.sub,
.wpcf7-submit {
  transition: all 0.2s linear 0s;
}
a {
  color: var(--base-color);
  text-decoration: none;
  outline: 0;
}
a:hover,
a:active {
  color: #005397;
}
*::-moz-placeholder {
  color: #c6c6c6;
  opacity: 1;
}
*::-moz-selection {
  background: #b3d4fc none repeat scroll 0 0;
  text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #40454d;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 10px;
  margin-top: 0;
}
h3,
h4,
h5,
h6 {
  margin-bottom: 7px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.mom-main-color,
.mom-main-color a {
  color: #005397;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
  text-transform: capitalize;
  color: #1a1a1a;
}
h6 {
  font-size: 12px;
}

h1 .subTitle,
h2 .subTitle,
h3 .subTitle,
h4 .subTitle,
h5 .subTitle,
h6 .subTitle {
  color: #999;
  display: block;
  font-size: 0.65em;
}
p,
a {
  font-family: "Montserrat", sans-serif;
}
.width100 {
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.align-right {
  text-align: right;
}

.full-width {
  width: 100%;
  float: left;
  clear: both;
  z-index: 10;
}
.clearfix {
  clear: both;
}
.main p:last-child {
  margin-bottom: 0;
}
.no-display {
  display: none;
}
.padding-0 {
  padding: 0;
}

/* Common Custom CSS */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.btn-outline {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
  color: #fff;
}
.btn-outline:hover {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  color: #fff;
}
.section-title {
  color: inherit;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 26px;
}
section p {
  margin: 0 0 34px;
  font-size: 15px;
  color: inherit;
  line-height: 25px;
}
.btn-large,
.btn-large:link,
.btn-large:visited,
.btn-large:active,
.btn-large:focus,
.btn-large::before,
.btn-large::after {
  position: relative;
  display: inline-block !important;
  background: #4d6de6;
  padding: 15px 33px;
  line-height: normal;
  border: 2px solid #4d6de6;
  color: #ffffff;
  transition: all 0.3s ease 0s;
  border-radius: 30px 30px 30px 30px;
}
.btn-large:hover {
  border: 2px solid #4d6de6;
  background: none;
  color: #4d6de6;
}
/* Common custom CSS ends */

/* Base Button CSS */

.base-btn {
  background: #040404 none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff !important;
  font-size: 25px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  padding: 17px 45px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.base-btn:after {
  position: absolute;
  bottom: 0;
  width: 0%;
  content: "";
  background: #fff;
  height: 2px;
  left: 0;
  transition: all 0.3s;
}
.base-btn:hover {
  color: #fff;
}
.base-btn:hover:after {
  width: 100%;
}
[data-bg="white"] .base-btn {
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
  color: #000 !important;
}
[data-bg="black"] .base-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 17px;
  margin: 0;
  padding: 10px 25px;
}
[data-bg="white"] .base-btn:hover {
  color: #2154cf !important;
  border: 1px solid #2154cf;
}

/* Base Button CSS ends */

/* Top Header Section */
#top-header-section {
  position: relative;
  z-index: 12;
}
.topbar-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topbar-left ul li {
  display: inline-block;
}
.topbar-left ul li a {
  color: inherit;
  display: block;
  font-weight: 500;
  margin-right: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 0px;
  text-decoration: none;
}
.topbar-left ul li a:hover {
  color: var(--base-color);
}
.topbar-left ul li a:hover i {
  color: #fff;
}
.topbar-left ul li a i {
  color: var(--base-color);
  font-size: 16px;
  padding-right: 0;
}
.header-social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  float: right;
}
.header-social-icons li {
  display: inline-block;
}
.header-social-icons li a {
  color: inherit;
  display: block;
  font-weight: 500;
  margin-left: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 0px;
  text-decoration: none;
}
.header-social-icons li a:hover {
  color: var(--base-color);
}

/* Top Header section Ends */

/* Header Section */
#main-header-section {
  transform: translateZ(0);
  transition: all 0.5s;
  position: relative;
  z-index: 11;
}
.branding {
  display: block;
  margin: 0;
  outline: 0 none;
}
.header-right .primary-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#main-header-section.shrink {
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  animation: slide-down 0.7s;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

/* Header section ends */

/* Primary Menu */

.primary-nav li {
  display: inline-block;
  line-height: 3;
  position: relative;
}
.primary-nav li a {
  color: #fff;
  padding: 15px;
  display: block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 2;
}
.primary-nav li a:hover,
.primary-nav li.current-menu-item a {
  color: #000;
}
.primary-nav li a:before,
.primary-nav li.current-menu-item a:before {
  background: var(--base-color);
  color: #000;
  content: "";
  top: -100%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  height: 100%;
  z-index: -1;
}
.primary-nav li a:hover:before,
.primary-nav li.current-menu-item a:before {
  opacity: 1;
  top: 0;
}

/* ======================== */
/* Secondary Menu */
/* ======================== */

.primary-nav ul li ul {
  float: left;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 99;
  width: 225px;
  margin: 0;
  padding: 5px 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.primary-nav ul li:hover ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  background: #001443;
  width: 225px;
  overflow: hidden;
}
.primary-nav ul li ul li {
  display: table;
  float: none;
  width: 100%;
  margin: 0;
  line-height: 2.2 !important;
  padding: 0;
}
.primary-nav ul li ul a {
  display: inline-block;
  float: none;
  width: 100%;
  border: 0;
  text-align: left;
  height: auto;
  line-height: 23px;
  padding: 10px 15px;
  font-size: 15px;
}
.primary-nav ul li ul a:hover {
  color: #fff;
  background: var(--base-color);
}
.primary-nav ul li ul a:hover:before {
  display: none;
}

/* Primary Menu ends */

/* Hero Unit Section */

#hero-section:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#hero-section .container {
  position: relative;
  z-index: 11;
}
#hero-section h1,
#hero-section p,
#hero-section a {
  color: inherit !important;
  border-color: inherit !important;
}
#hero-section h1 {
  font-size: 60px;
  font-weight: 700;
}
#hero-section h1 .thin {
  font-weight: 300;
}
#hero-section p {
  font-size: 20px;
  font-weight: 500;
}
#hero-section .base-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
}
#hero-section .base-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
#hero-section {
  height: 550px;
  overflow: hidden;
  position: relative;
}
/* Hero Unit section ends */

/* Services Section */

.service-item-cont {
  background: #ffffff;
  padding: 28px 11px 21px 22px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
  border-radius: 5px;
  margin-bottom: 30px;
  display: table;
  width: 100%;
  transition: all 0.3s;
}
.service-item-cont:hover {
  background: #4d6de6;
}
.service-item-cont .icon-cont {
  font-size: 40px;
  text-align: center;
  color: #4d6de6;
  transition: all 0.3s;
}
.service-item-cont .txt-cont h4 {
  margin: 0 auto;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s;
}
.service-item-cont .txt-cont p {
  margin-bottom: 0;
  transition: all 0.3s;
}
.service-item-cont:hover h4,
.service-item-cont:hover p,
.service-item-cont:hover .fa,
.service-item-cont:hover h4 a {
  color: #fff;
}
/* Services Section ends */

/* Quote Section */
#quote-container {
  background: var(--base-color);
}
#quote-container .row {
  margin: 0;
}
.contact-form input,
.contact-form textarea {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  min-height: 50px;
}
.contact-form .form-group {
  padding: 0 15px;
}
.contact-form input[type="submit"] {
  border-radius: 30px;
}

#faq-collapsible .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
#faq-collapsible .panel-heading {
  background: #fff;
  border-bottom: 0;
  border-radius: 0;
  padding: 0;
}
#faq-collapsible .panel-heading a {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  font-weight: 600;
  padding: 20px;
  position: relative;
}
#faq-collapsible .panel-heading a.collapsed:after {
  content: "\f105";
  font-family: "FontAwesome";
  font-weight: 900;
}
#faq-collapsible .panel-heading a:after {
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 17px;
  font-family: "FontAwesome";
  font-weight: 900;
}
/* Quote section ends */

/* Partners container */
#partners-container {
  background: url(../images/partner-wrapper-bg.jpg) no-repeat;
  background-size: cover;
}
.partner-item .partner-logo {
  display: flex;
  width: 100%;
  min-height: 15rem;
  vertical-align: middle;
  text-align: center;
  background: #fff;
  margin: 0 0 20px;
  align-items: center;
  box-shadow: 0 5px 30px rgba(105, 106, 119, 0.05);
}
.partner-item .partner-logo img {
  display: block;
  margin: 0 auto;
}
/* Partners container ends */

/* Blog container */
.blog-img {
  height: 200px;
}
.blog-img img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  height: auto;
}
.blog-items:hover .blog-img img {
  -webkit-transform: scale(1.1) rotate(-25deg);
  -ms-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}
.blog-items {
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.blog-content {
  background-color: #fff;
  position: relative;
  padding: 0 20px 20px;
}
.blog-content h5 {
  line-height: 25px;
  padding-top: 20px;
}
.blog-content h5 a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blog-content h5:hover a {
  color: #0c65ed;
}
.blog-meta {
  padding: 15px 0 13px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  position: relative;
}
.blog-meta {
  padding: 15px 0 13px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  position: relative;
}
.blog-meta::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  background-color: #0c65ed;
  height: 2px;
  width: 85px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.blog-items:hover .blog-meta::after {
  width: 100%;
}
.blog-meta a {
  color: #858585;
  font-size: 12px;
  padding: 0 10px 0 15px;
  text-transform: capitalize;
  border-right: 1px solid #858585;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}
.blog-meta a i {
  margin-right: 5px;
}
.blog-meta a:first-child {
  padding-left: 0;
}
.blog-meta a:last-child {
  border-right: 0;
}
.blog-meta a:hover {
  color: #0c65ed;
}
.btn-blog {
  color: #1a1a1a;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 20px;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-blog:hover i {
  padding-left: 15px;
}
.btn-blog i {
  font-size: 18px;
  position: absolute;
  padding-left: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Blog container ends */

/* Free consult container  */
.free-consult-container {
  padding: 0 45px 0 15px;
  position: relative;
  background: #fff;
  padding: 80px;
}
/* Free consult container  ends*/

/* Why People container */
.why-people-container {
  padding: 0 45px;
  position: relative;
  color: #232323;
  padding: 80px;
}
.why-people-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.why-people-container li {
  display: block;
  width: 100%;
}
.why-people-container li .icon {
  width: 20%;
  float: left;
}
.why-people-container li .icon i:before {
  font-size: 55px;
}
.why-people-container .cont {
  float: left;
  width: 70%;
}
.why-people-container .cont h4 {
  font-weight: 700;
  margin: 0 0 5px;
}
/* Why People ends */

/* Testimonial Container */

.testi-items .testi-img {
  margin: 0 auto 20px;
  position: relative;
  display: table;
  border-radius: 100%;
  overflow: hidden;
  width: 170px;
  height: 170px;
}
.testi-items .testi-img:after {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  top: 0;
  padding: 15px;
  border: 10px solid #000;
}
.testi-items .testi-img img {
  width: 100%;
  height: 100%;
}
.testi-items .rating {
  color: #e0c502;
  clear: both;
  display: block;
  margin: 15px 0 0;
}
.testi-items .rating .fa {
  margin: 0 3px;
  font-size: 22px;
}
.testi-items blockquote {
  border: 0;
  font-family: "Open Sans";
  position: relative;
  padding: 0 60px;
}
.testi-items blockquote:before {
  content: "\201C";
  left: 0;
  top: -20px;
  display: block;
  font-size: 100px;
  position: absolute;
  height: 80px;
  line-height: 1;
  opacity: 0.3;
}
.testi-items blockquote:after {
  content: "\201d";
  right: 0;
  top: -20px;
  display: block;
  font-size: 100px;
  position: absolute;
  height: 80px;
  line-height: 1;
  opacity: 0.3;
}
.testimonials {
  margin: 40px -15px;
}
.client-name {
  font-weight: 800;
}
#testimonials-container .container {
  padding: 45px 15px;
}

/* Testimonial Container ends */

/* Promo content Section */

.promo-container h3 {
  color: inherit;
}
.promo-container .base-btn {
  float: right;
}

/* Promo content Section ends*/

/* Teams Section */

.teams {
  margin: 40px -15px;
}
.team-item-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.team-item-title {
  padding: 15px 20px;
  width: 100%;
  display: block;
  background: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 10px #cccccc;
  margin: 0;
  color: #232323;
}
.team-item-title a {
  display: block;
  width: 100%;
}
.team-item {
  padding: 0 15px 20px;
}
.team-item-details .team-item-img {
  height: auto;
}
.team-item-details-cont {
  padding: 25px 35px;
  background: #fff;
  box-shadow: 0 0 10px #cccccc;
  border-radius: 0 0 5px 5px;
}
.team-item-details-cont .team-item-title {
  padding: 0;
  background: none;
  box-shadow: none;
  font-size: 24px;
  margin: 0 0 5px;
}
.team-item-desig {
  color: #2154cf;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
  display: block;
}
.team-item-detail-txt {
  color: #232323;
  line-height: 26px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}
.team-item-socials a {
  background: #0a2134;
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
  font-size: 20px;
}
.team-item-socials a:hover {
  background: #2154cf;
}

.team-item-cont {
  position: relative;
  cursor: pointer;
}

.team-item-details-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(1, 31, 73, 0.95);
  padding: 25px 15px;
  color: #fff;
  transition: all 200ms linear;
  transform: scale(0);
  top: 0;
  left: 0;
}
.team-item-cont:hover .team-item-details-cont {
  transform: scale(1);
}
.team-item-details-cont .team-item-title,
.team-item-details-cont .team-item-desig,
.team-item-details-cont .team-item-detail-txt {
  color: #fff;
}
.team-item-details-cont .team-item-socials a {
  background: #fff;
  color: #444;
}
/* Teams Section  ends */

/* About container */
#about-container .col-md-6 {
  display: table-cell;
  float: none;
  padding: 0;
}
#about-container .info-cont {
  padding: 80px;
}
/* About container ends */

/* footer container */
footer .f-item h4 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
footer .f-item p {
  color: #837f7e;
  font-size: 14px;
}
footer .f-item .address {
  margin-top: 30px;
}
footer .f-item .address ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .f-item .address li {
  display: block;
  margin-bottom: 10px;
  line-height: 1.9rem;
  font-weight: 300;
}
footer .f-item .address li .fa {
  color: #0c65ed;
  display: table-cell;
  font-size: 20px;
  vertical-align: middle;
  width: 40px;
}
footer .f-item .address li span {
  color: #837f7e;
  display: table-cell;
  vertical-align: middle;
}
.footer-branding {
  width: 200px;
  margin: 0 0 20px;
}

footer .widget__title {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 2.8rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 1.2rem;
  margin: 15px 0 20px;
  color: inherit;
}
footer .widget__title:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 50px;
  background: #fff;
  bottom: 0;
}
.f-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.f-item ul li {
  line-height: 3.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.f-item ul li a {
  color: #5a6671;
}
footer .widget-cont {
  margin: 0 auto;
  display: table;
  width: auto;
}
footer .copyright p {
  line-height: 4rem;
  color: #5a6671;
  font-size: 1.5rem;
}
/* footer container ends */

/* Sidebar CSS */
.sidebar {
  padding-left: 35px;
}
.sidebar .widget h2 {
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  text-transform: capitalize !important;
  z-index: 1;
  font-size: 18px;
}
.sidebar .widget h2:after {
  background: #2154cf none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
}
.sidebar .widget {
  margin-bottom: 50px;
}
.sidebar .widget .search-form .screen-reader-text {
  display: none;
}
.sidebar .widget .search-form label {
  width: 75%;
}
.sidebar .widget .search-form {
  position: relative;
}
.sidebar .widget .search-form input[type="search"] {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  width: 100%;
  height: 50px;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}
.sidebar .widget .search-form .search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  padding: 10px 0px;
  background: #000;
  border: 0;
  color: #fff;
  font-size: 16px;
  width: 25%;
}
.sidebar .widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .widget ul li {
  display: block;
}
.sidebar .widget ul li a {
  display: block;
  font-weight: 600;
  padding: 10px 0 10px 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  display: inline-block;
  color: #666666;
}
.sidebar .widget ul li a::after {
  border: 1px solid #666666;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 0;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
}
.sidebar .widget_recent_entries li {
  padding: 5px 0 15px;
  border-top: 1px solid #f4f4f4;
}
.sidebar .widget_recent_entries li:first-child {
  padding-top: 0;
  border-top: 0;
}
.sidebar .widget_recent_entries li a {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 5px;
}
.sidebar .widget_recent_entries li .post-date {
  padding: 3px 8px 4px;
  background: var(--base-color);
  color: inherit;
  font-size: 13px;
  display: table;
  clear: both;
  width: auto;
}
.sidebar .widget_recent_entries li a:after {
  display: none;
}

/* comments container */
.comments-title {
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 30px;
}
.comment-respond {
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
}
.comment-notes {
  font-size: 11px !important;
}
.comment-notes #email-notes {
  margin-right: 15px;
}
.comment-notes .required {
  color: red;
  font-size: 14px;
}
.comment-respond label {
  width: 100%;
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  color: #a4a4a4;
}
.comment-respond textarea,
.comment-respond input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #e4e4e4;
  font-size: 15px;
}
.form-submit input[type="submit"] {
  background: #0a2134;
  color: #ffffff;
  display: inline-block;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: auto;
  font-size: 20px;
  padding: 12px 30px;
  border: 0;
}
.form-submit input[type="submit"]:hover {
  background: #2154cf;
}
.comment-list,
.comments-area ul,
.comments-area ol {
  margin: 0 0 30px;
  padding: 0;
  list-style-type: none;
}
.comment-list ol.children {
  margin-left: 40px;
}
.comment-list .comment-body {
  padding: 20px;
  position: relative;
  margin: 0 0 20px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.comment-body .reply {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  font-size: 11px;
  color: #444;
  font-weight: 600;
}
.comment-body .reply a {
  display: block;
  position: relative;
  color: inherit;
}
.comment-body .reply a:before {
  position: absolute;
  left: -16px;
  font-weight: 300;
  top: 0;
  content: "\f122";
  font-family: FontAwesome;
}
.comment-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 10px 10px 0;
}
.comment-metadata {
  position: absolute;
  top: -12px;
  left: 13px;
  padding: 6px 10px 4px;
  background: #2154cf;
  color: #fff;
  font-size: 11px;
}
.comment-metadata a {
  color: #fff;
}

/* Author Container */
.author-photo img {
  border-radius: 100%;
  border: 8px solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.author-details-cont {
  margin: 0 0 70px;
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}
.author-details-cont:before {
  right: 100%;
  top: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-width: 19px;
  margin-top: -30px;
}
.author-details-cont h3 {
  color: #ccc;
  font-size: 24px;
  font-weight: 500;
}
.author-details-cont p {
  color: #ccc;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
  line-height: 1.6;
}
/* Author Container ends */

/* 404 template */
.man_404 {
  font-size: 155px;
  font-weight: 700;
  line-height: 165px;
  margin: 50px 0 0;
}
.man_intro_cont h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 55px !important;
}
.man_intro_cont .base-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0 0;
  padding: 10px 25px;
}
/* 404 template ends */

/* Breadcrumb CSS */

.breadcrumb {
  background: none;
}
.breadcrumb li a {
  color: #444;
  font-size: 16px;
  font-weight: 300;
}
.breadcrumb li.home a {
  font-weight: 600;
}
/* Breadcrumb CSS ends */

/* Archive page Numeric Navigation */

.cs_navigation {
  display: table;
  margin: 0 0 50px;
  width: 100%;
}
.cs_navigation ul {
  display: table;
  margin: 0;
  width: 100%;
  padding: 0;
}
.cs_navigation li a,
.cs_navigation li a:hover,
.cs_navigation li.active a,
.cs_navigation li.disabled {
  color: #fff;
  text-decoration: none;
}

.cs_navigation li {
  display: inline;
  margin: 0 5px 0 0;
}

.cs_navigation li a,
.cs_navigation li a:hover,
.cs_navigation li.active a,
.cs_navigation li.disabled {
  background-color: rgba(47, 101, 181, 1);
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  padding: 12px 21px;
}

.cs_navigation li a:hover,
.cs_navigation li.active a {
  background-color: #002340;
}

/* Archive page Numeric Navigation ends */

/* Archive page */

.post-thumbnail-block a {
  position: relative;
  display: block;
  overflow: hidden;
}
.post-thumbnail-block a:before {
  content: "\f0c1";
  left: 50%;
  top: -10%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  color: #fff;
  font-size: 40px;
  z-index: 98;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: FontAwesome;
  text-align: center;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}
.post-thumbnail-block a:hover:before {
  top: 50%;
  opacity: 1;
}
.post-thumbnail-block a:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(33, 84, 207, 0.7);
  z-index: 97;
  opacity: 0;
  transition: all 0.3s ease;
}
.post-thumbnail-block a:hover:after {
  opacity: 1;
}
.row.comments-section {
  margin: 20px -15px 0;
}

.post-thumbnail-block img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  height: auto;
}
.post-thumbnail-block a:hover img {
  -webkit-transform: scale(1.1) rotate(-25deg);
  -ms-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}

.post-item .post-info {
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 10px #cccccc;
}
.post-item {
  margin: 0 0 50px;
}

/* Archive page ends */

/* Footer Socials */
footer .mom-social-icons {
  float: right;
}
footer .mom-social-icons {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .mom-social-icons li {
  display: inline-block;
  line-height: 1.5;
  margin: 0 0 0 14px;
}
footer .mom-social-icons li a {
  color: #fff;
  font-size: 24px;
}
footer .mom-social-icons li a:hover {
  color: var(--base-color);
}
/* Footer Socials end */

/* Mobile Nav */
#menu-ham {
  position: fixed;
  right: 0;
  top: 15px;
  z-index: 9999;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #fff;
  width: 30px;
}

#mobile-nav {
  opacity: 0;
  right: -1800px;
  background: rgba(0, 0, 0, 0.9);
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.3s;
}
#mobile-nav.is-active {
  right: 0;
  opacity: 1;
}
/* Mobile Nav ends */

/* Pricing Plans */
.pricing-box {
  border: 1px solid#eee;
  padding: 60px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
}
.pricing-box.premium-plan {
  background: var(--base-color);
  color: #000;
  border: 1px solid var(--base-color);
}
.pricing-box h3 {
  color: inherit;
}
.price-block {
  margin: 20px 0px 30px;
  color: inherit;
}
.price-block h2 {
  font-size: 80px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: inherit;
}
.price-block h2 small {
  color: #007bff;
  position: absolute;
  top: 20px;
  font-size: 16px;
  left: -15px;
  color: inherit;
}
.pricing-box .price-block h2 span {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: inherit;
}
.price-features {
  margin: 30px 0px;
}
.price-features li {
  font-size: 16px;
  padding: 5px 0px;
}
.pricing-box:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}
.pricing-box.premium-plan .btn {
  color: inherit;
  border-color: #000;
}
.pricing-box.premium-plan:hover .btn {
  border-color: #fff;
}

/* Pricing Plans ends */

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .why-people-container {
    padding: 60px 15px;
  }
  .free-consult-container {
    padding: 60px 15px;
  }
  .why-people-container:before {
    width: 100%;
    top: 0;
  }
  #main-header-section .branding {
    width: 70%;
  }

  #mobile-nav ul {
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
  }
  #mobile-nav ul li {
    line-height: 2.5;
    margin: 0;
    width: 100%;
    position: relative;
  }
  #mobile-nav ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
    height: 100%;
    position: relative;
    outline: 0 !important;
    padding: 0 20px;
  }
  #mobile-nav .sub-menu {
    background: red none repeat scroll 0 0;
    margin: 0;
    padding: 10px 0;
    display: none;
  }
  #services-section .btn,
  #partners-container .btn {
    margin: 0 auto 30px;
    display: table !important;
    float: none;
  }
  .service-items {
    text-align: center;
  }
  [data-padding="10015"] {
    padding: 50px 15px;
  }
  #quote-container {
    text-align: center;
  }
  #quote-container .section-title {
    text-align: center;
  }
  .team-item-img {
    height: auto;
  }
  footer .widget-cont {
    width: 100%;
    padding: 20px 15px;
  }
  .footer-branding {
    margin: 0 auto 20px;
  }
  footer .f-item p {
    text-align: center;
  }
  .copyright p {
    text-align: center;
  }
  footer .mom-social-icons {
    float: none;
    margin: 0 auto 20px;
    display: table;
  }
  footer .mom-social-icons li {
    margin: 0 14px;
  }
  .sidebar {
    padding-left: 15px;
  }
  #mobile-nav .sub-menu {
    background: var(--base-color);
    margin: 0;
    padding: 10px 0;
    display: none;
  }
  #pricing-container .padding-0 {
    padding: 15px;
  }
}

/* Responsive CSS ends */
